:root{
    --white:#f5eeee;
    --black:#0e1229;
    --blue:#368091;
    --blue100:#496c7e;
    --black100:#2a4055;
    --gray:#494354;
    --rosered:#852847;
    --white-100:#fac8c1;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Inter', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body{
    background-color:var(--gray);
}
.container {
    background-color:var(--white);
    width:21cm;
    height:29.7cm;
    margin:0 auto;
    box-shadow: 0 0.75rem 1rem -3px rgba(12, 12, 12, 0.1);
    display: flex;
}
.about {
    color:var(--white);
    background-color: var(--blue);
    height: 100%;
    width:calc(100%/3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.about > div {
    margin-top:2rem;
    height: calc(100%/3);
}
.about h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.3rem;
    display: inline-block;
    padding-bottom: 0.25rem;
    margin-bottom: 1rem;
    width: 20rem;
    border-bottom: 2px solid;
}
.project {
    /* background-color: var(--blue); */
    color:var(--black);
    height: 100%;
    width:calc(100%/3*2);
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left:1rem;
    padding-right:2rem;
}
.title {
    /* background-color: blue;  */
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--gray);
}
.title .name{
    font-weight: 300;
    font-size: 4rem;
}
.title .position {
    color: var(--blue);
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .25rem;
}

.main h1 {
    text-transform: uppercase;
    color:var(--blue);
    font-weight: 500;
    font-size: 2rem;
}

 .main .skill {
     margin-top: 2rem;
    /* background-color: violet; */
}

.main .projects {
    /* background-color: yellow; */
    margin-top: 3rem;
}
.project-single {
    color:var(--black100);
    margin-top: 2.5rem;
    padding: 0 0.5rem;
}

.project-namedate {
    display: flex;
    align-items: center;
}

.project-name {
  margin-right: auto;
  color:var(--black);
  font-size: 1.96rem;
  font-weight: 400;
}

.project-date {
    font-size:1.2rem;
    color: var(--black100);
}

.project-link {
    display: block;
    text-decoration: none;
    color:var(--blue100);
    font-size:1.4rem;
}

.project-tech {
    margin-top: 0.5rem;
    display: block;
    color: var(--black100);
    font-size:1.4rem;
}

.project-desc {
    margin-top:1.5rem;
    text-align: justify;
    font-size:1.6rem;
}

.skill-tree {
    padding:1rem 4rem;
    font-size: 1.6rem;
    display: flex;
    color:var(--black100);
    flex-wrap: wrap;
    width: 100%;
}

.skill-tree > * {
    display: block;
    width:50%;
}
.objective {
    margin-top: 2rem;
}
.objective p {
    padding: 1rem 0.5rem;
    font-size: 1.5rem;
}
.main {
    /* background-color: violet; */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.i-cake {
    width:2rem;
    height: 2rem;
    margin-right: 1rem;
    display: inline-block;
}
.me {
    padding-top:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.me-birth {
    display: flex;
    font-size: 1.2rem;
    margin-left: 8rem;
    width: 100%;
    align-items: center; 
}
.me-birth span {
    display: block;
}
.me-desc {
    padding:2rem 1rem;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: left;
}
.avatar {
    width:12rem;
    height:12rem;
    font-size: 12rem;
    color: var(--blue);
    display: block;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--white);
    margin:0 auto;
    margin-bottom:2rem;
}

.contact-div {
    margin-left: 3rem;
    display: flex;
    align-items: center;
}
.contact-div:not(:first-of-type) {
    margin-top:2rem
}
.contact-i {
    width: 2rem;
    width: 2rem;
    margin-right:1rem;
}
.contact-p {
    text-decoration: none;
    color:var(--white);
    font-size: 1.45rem;
}

.education-line {
    margin-left: 2rem;
    display: flex;
    align-items: center;
}
.education-name {
    width: calc(100% - 2.5rem - 2px);
    padding:2px;
    font-size:1.8rem;
    text-align: left;
}
.education-i {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}

.education-class {
    margin-top: 1rem;
    font-size:1.3rem;
}
.education-year {
    margin-top:1rem;
    font-size: 1.3rem;
}

.education-card:not(:first-of-type) {
    margin-top:2rem
}
@media print {
    body{
        width: 21cm;
        height: 29.7cm;
        /* margin: 30mm 45mm 30mm 45mm;  */
        /* change the margins as you want them to be. */
   } 